:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/* latin */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v6/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v6/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  
body {
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.qrcontainer {
    background-color: var(--white);
    border-radius: 2.5%;
    padding: 20px;
    width: 375px;
    margin: 8vh auto;    
}

.title {
    color: var(--dark-blue);
    font-size: 1.7em;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.subtitle {
    color: var(--grayish-blue);
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    display:inline-block;
    position:fixed;
    bottom: 10px;
    width:100%;
}

.qrcode img{
    width: 100%;
    height: 100%;
    border-radius: 2.5%;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/*
@media only screen and (max-width: 600px) {
    .qrcontainer {
        width: 375px;
    }
}
*/