/* Color definition */
:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

body {
    background-color: var(--light-grey);
    font-family: 'Poppins', sans-serif;
    color: var(--off-black);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

.attribution {
    position: fixed;
    bottom: 0px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
}

#container {
    background-color: var(--white);
    border-radius: 15px;
    border-bottom-right-radius: 100px;
    max-width: 900px;
    max-height: 1000px;
    width: 50vw;
    height: 55vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

/* Form Part */
.hidden {
    visibility: hidden;
}

.error {
    color: var(--light-red);
}

.error-msg {
    font-size: 16px;
}

.form-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 5vh; 
}

.red-border {
    border: 1px solid var(--light-red);
}

input {
    font-size: 32px;
    font-weight: 700;
    color: var(--off-black);
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    width: 4em;
    text-align: left;
    padding: 0.3em;
    margin-bottom: 0.5em;
}

label {
    font-size: 16px;
    font-weight: 700;
    color: var(--smokey-grey);
    font-variant-caps: all-petite-caps;
    letter-spacing: 1px;
}

.form-day label {
    grid-column: 1;
    grid-row: 1;
}
.form-day input {
    grid-column: 1;
    grid-row: 2;
}

.form-month label{
    grid-column: 2;
    grid-row: 1;
}
.form-month input{
    grid-column: 2;
    grid-row: 2;
}

.form-year label{
    grid-column: 3;
    grid-row: 1;
}
.form-year input{
    grid-column: 3;
    grid-row: 2;
}


/* Submit Button */
#round-submit-button {
    background-color: var(--purple);
    border-radius: 100%;
    border-width: 0;
    padding: 10px;  
    position: fixed;
    right: 20vw;
    top: 35%;
}

/* Result Part */
#age-result {
    padding-top: 2%;
}

.result-number {
    color: var(--purple);
    font-size: 72px;
    font-style: italic;
    font-weight: 800;
}

.result-text {    
    color: var(--off-black);
    font-size: 72px;
    font-style: italic;
    font-weight: 800;
}

@media only screen and (max-width: 375px) {
    #container {
        max-width: 350px;
    }

    input {
        font-size: 16px;
        width: 3em;
    }
    
    label {
        font-size: 8px;
    }

    #round-submit-button {
        right: 45vw;
    }
    
    #round-submit-button img {
        width: 20px;
    }

    #age-result {
        padding-top: 30%;
    }

    .result-number {
        font-size: 32px;
    }
    
    .result-text {    
        font-size: 32px;
    }

    .error-msg {
        font-size: 8px;
    }
  }